<div style="height: 700px">
    <embed [src]="fileURL" type="application/pdf" class="h-100 w-100">
</div>
<!-- <div>
    <h2 id="page-heading">
        <span jhiTranslate="generalAccountingApp.balanceSheet.home.title">Balance Sheets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-balance-sheet" [routerLink]="['/balance-sheet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="generalAccountingApp.balanceSheet.home.createLabel">
            Create new Balance Sheet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="balanceSheets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="generalAccountingApp.balanceSheet.isprocessed">Isprocessed</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let balanceSheet of balanceSheets ;trackBy: trackId">
                <td><a [routerLink]="['/balance-sheet', balanceSheet.id, 'view' ]">{{balanceSheet.id}}</a></td>
                <td>{{balanceSheet.isprocessed}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/balance-sheet', balanceSheet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/balance-sheet', balanceSheet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'balance-sheet', { outlets: { popup: balanceSheet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> -->