<div>
    <h2 id="page-heading">
        <span jhiTranslate="generalAccountingApp.generalAccount.home.title">General Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-general-account" [routerLink]="['/general-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="generalAccountingApp.generalAccount.home.createLabel">
            Create new General Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="generalAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="generalAccountingApp.generalAccount.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="generalAccountingApp.generalAccount.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="generalAccountingApp.generalAccount.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="generalAccountCurrency.id"><span jhiTranslate="generalAccountingApp.generalAccount.generalAccountCurrency">General Account Currency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let generalAccount of generalAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/general-account', generalAccount.id, 'view' ]">{{generalAccount.id}}</a></td>
                <td>{{generalAccount.code}}</td>
                <td>{{generalAccount.description}}</td>
                <td jhiTranslate="{{'generalAccountingApp.AccountType.' + generalAccount.type}}">{{generalAccount.type}}</td>
                <td>
                    <div *ngIf="generalAccount.generalAccountCurrency">
                        <a [routerLink]="['../currency', generalAccount.generalAccountCurrency?.id, 'view' ]" >{{generalAccount.generalAccountCurrency?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/general-account', generalAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/general-account', generalAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'general-account', { outlets: { popup: generalAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="generalAccounts && generalAccounts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
